{% extends "student_layout.html" %}

{% block body %}

<h2 class="exam-title">Exam</h2>

<!-- TIMER -->
<div id="timer">Loading...</div>

<form id="examForm" method="POST" action="/submit-exam/{{exam_id}}">

    {% for q in questions %}

    <div style="margin-bottom:20px;">

        <p><b>{{loop.index}}. {{q.question_text}}</b></p>

        {% if q.question_type == "mcq" %}

        <label>
            <input type="radio" name="q{{q.id}}" value="{{q.option1}}" required>{{q.option1}}
        </label><br>

        <label>
            <input type="radio" name="q{{q.id}}" value="{{q.option2}}">{{q.option2}}
        </label><br>

        <label>
            <input type="radio" name="q{{q.id}}" value="{{q.option3}}">{{q.option3}}
        </label><br>

        <label>
            <input type="radio" name="q{{q.id}}" value="{{q.option4}}"> {{q.option4}}
        </label><br>

        {% else %}

        <input type="text" name="q{{q.id}}" placeholder="Write your answer..." required style="width:300px; padding:6px;">

        {% endif %}

    </div>

    <hr>

    {% endfor %}

    <button type="submit">Submit Exam</button>

</form>

<!-- TIMER SCRIPT -->
<script>

    var time = {{ duration }} * 60;

    var timer = setInterval(function () {

        var minutes = Math.floor(time / 60);
        var seconds = time % 60;

        if (seconds < 10) {
            seconds = "0" + seconds;
        }

        document.getElementById("timer").innerHTML =
            minutes + ":" + seconds;

        time--;

        if (time < 0) {

            clearInterval(timer);

            alert("Time is up! Auto submitting...");

            document.getElementById("examForm").submit();
        }

    }, 1000);

</script>

{% endblock %}