<!DOCTYPE html>
<html>
<head>
    <title>Online Exam System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">
        <h2>Online Exam System</h2>
        <a href="/logout">
            <button class="logout-btn">Logout</button>
        </a>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <div class="footer">
        <p><strong>Daffodil International University</strong></p>
        <p>Capstone Project | Group-4</p>
        <p>Developed by: Mushfiqur, Subrota, Rafi</p>
        <p>Final Year (4th Year) | © 2026</p>
    </div>

</body>
</html>