<!DOCTYPE html>
<html>

<head>
    <title>Examora</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
</head>

<body>

    <div class="navbar">

        <div class="nav-left">
            <button onclick="history.back()" class="back-btn">← Back</button>
        </div>

        <div class="nav-center">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" class="logo">
            <span class="title">Examora</span>
        </div>

        <div class="nav-right">

            {% if student %}
            <div class="student-box">
                <div class="student-name">👤 {{ student.name }}</div>
                <div class="student-id">ID: {{ student.student_id }}</div>
            </div>
            {% endif %}

            {% if session.get("student_id") or session.get("admin") %}
            <a href="/logout" class="logout-btn">Logout</a>
            {% endif %}

        </div>

    </div>

    <div class="container">

        {% block body %}
        {% endblock %}


        <footer class="footer">

            <p><strong>Examora</strong> | Online Exam System</p>

            <p>Course: Capstone Project | Group-4</p>

            <p>
                Developed by:
                Mushfiq (1405) |
                Shubroto (0000) |
                Rafi (0000)
            </p>

            <p>
                SWE Department, Daffodil International University
            </p>

            <p>
                📧 group4@gmail.com | Version: v1.1.0
            </p>

            <p>© 2026 All Rights Reserved</p>

        </footer>
    </div>

</body>

</html>