{% extends "layout.html" %}

{% block body %}

<h3>Upcoming Exams</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for exam in upcoming %}
    <tr>
        <td>{{ exam.title }}</td>
        <td>{{ exam.exam_date }}</td>

        {% if exam.assigned %}
        <td>Not Started</td>
        {% else %}
        <td style="color:red;">Not Assigned To You</td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

<h3>Ongoing Exams</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for exam in ongoing %}
    <tr>
        <td>{{ exam.title }}</td>
        <td>{{ exam.exam_date }}</td>
        <td>

            {% if exam.assigned and today == exam.exam_date
            and current_time >= exam.start_time
            and current_time <= exam.end_time %} <a href="/start-exam/{{ exam.id }}">
                <button>Start Exam</button>
                </a>

                {% elif not exam.assigned %}

                <span style="color:red;">Not Assigned To You</span>

                {% else %}

                <button disabled>Not Available</button>

                {% endif %}

        </td>
    </tr>
    {% endfor %}

</table>

<h3>Completed Exams</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

    {% for exam in completed %}
    <tr>
        <td>{{ exam.title }}</td>
        <td>{{ exam.exam_date }}</td>

        {% if exam.assigned %}
        <td>Finished</td>
        {% else %}
        <td style="color:red;">Not Assigned To You</td>
        {% endif %}

    </tr>
    {% endfor %}

</table>

{% endblock %}